.miIcon {
    height: 36px !important;
    width: 36px !important;
    align-content: center;
    margin-top: -13px !important;
    margin-left: 1px !important;
}

.operacionTitulo {
    font-size: 16px !important;
    font-weight: 600 !important;
}
.buscador {
    max-width: 75% !important;
  }

.noBuscador {
    max-width: 50% !important;
}

  ::ng-deep .casillas, .ayuda, .etiquetas {
    font-size: 16px;
}

::ng-deep .mat-focused .etiquetas {
    color: darkgrey;
    font-size: 18px !important;
}
 
::ng-deep .mat-focused .etiquetas {
    color: darkgrey;
    font-size: 18px !important;
}

::ng-deep .etiquetas {
    font-size: 18px !important;
}
::ng-deep .mat-focused .etiquetas {
    color: #035AA1;
    font-size: 18px !important;
}

.botonDerecho {
    height: 50px !important;
    width: 50px !important;
    margin-right: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #035AA1;
}

#todo {
    margin: 0px;
    padding: 0px;
}

#cabecera {
    border-style: solid;
    border-width: 2px;
    border-color: #035AA1;
    border-radius: 0px 0px 8px 8px;
    background-color:whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.itemIcon {
    margin-left: -15px;
    width: 36px !important;
    height: 36px !important;
  }

  .itemIconGris {
    margin-left: -15px;
    width: 36px !important;
    height: 36px !important;
    filter: grayscale(1);
    opacity: 0.2;
    
}
  
.miniIcon {
    float: right;
    margin-top: 7px !important;
    width: 24px !important;
    height: 24px !important;
    margin-right: -12px;
    animation-name: mIcon;
    animation-duration: 1s;

  }

  

  @keyframes mIcon {
    0%  {width: 40px; height: 40px;}
    50%  {width: 32px; height: 32px;}
    100%  {width: 24px; height: 24px;}
}


.titulo {
    font-size: 22px !important;
    font-weight: 700;
}

.itemLabel {
    font-size: 22px !important;
    font-weight: 500;
}

.itemBoton {
    border-style: solid;
    border-width: 1px;
    border-color: gainsboro !important;
    height: 42px !important;
    margin-top: 2px !important;
    border-radius: 4px 16px;
    width: 100%;
    text-align: left;
    font-size: 22px !important;
    font-weight: 500;
}

.itemBotonSeleccionado {
    border-style: solid;
    border-width: 1px;
    border-color: gainsboro !important;
    height: 50px !important;
    border-radius: 4px 16px;
    margin-top: 1px;
    width: 100%;
    text-align: left;
    font-size: 22px !important;
    font-weight: 500;
    border-bottom-width: 6px;
    border-bottom-color: #035AA1 !important;
}

.accion {
    margin-top: 2px !important;
    width: 95%;
    height: 53px !important;
    align-content: center;
    vertical-align: middle;
}

.mat-grid-tile {
}