#todo {
    position: relative;
    width: 100%;    
    height: 100%;
}

.detalleOperaciones {
    align-content: center;
    text-align: center;
}

.operacionTarjeta {
    margin-top: 10px;
    border-style: solid;
    border-width: 4px;
    border-color: #035AA1;
    border-radius: 4px 16px;
    height: 90%;
    width: 90%;
   
}

.operacionTarjetaSel {
    margin-top: 10px;
    border-style: solid;
    border-width: 4px;
    border-color: #035AA1;
    border-radius: 4px 16px;
    width: 90%;
    height: 90%;
}
.operacionFondo {
    width: 95%;
    height: 95%;
    background-color: transparent;
}

.operacionFondoSel {
    width: 95%;
    height: 95%;
    background: #035AA1;
    border-style: solid;
    border-width: 3px;
    border-color:orangered;
    border-radius: 4px 16px;
}

.operacionTitulo {
    margin-top: 100px !important;
    font-size: 17px !important;
    font-weight: 600 !important;
    color: #035AA1 !important;
    
}

.tiempoLlamadaSTR {
    margin-top: -28px;    
    margin-left: 30px !important;    
}

.operacionMadre {
    width: 100% !important;
    height: 28px !important; 
    padding: 2px;
    color: #035AA1 !important;
    background-color: rgba(3,90,161,0.1); 
    font-size: 17px !important;
    font-weight: 600 !important;
    white-space: normal;
    line-height: 17px;
    display: flex;
    justify-content: center; 
    align-items: center;
}


.operacionCelulabkp {
    width: 100% !important;
    height: 28px !important; 
    padding: 2px;
    color: white !important;
    background-color: #035AA1;
    font-size: 17px !important;
    font-weight: 600 !important;
}

.elBoton {
    align-items: stretch;
    justify-content: center;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container {
    font-size: 17px !important;
    display: flex;
}

.containerBotones {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    padding: 10px;
}

.titulo {
    margin-top: 2px;
    padding-top: 5px;
    flex: 3;
    color: black;
    justify-content: left;
    text-align: left;
    border-bottom-width: 2px !important;
    border-bottom-color: rgba(3,90,161,0.3) !important;
    border-bottom-style: solid !important;
    height: 22px !important
}

.titulo2 {
    flex: 3;
    color: black;
    justify-content: right;
    text-align: right;
    align-items: center;
}

.tituloReporte {
    margin-top: 2px;
    padding-top: 5px;
    flex: 3;
    color: black;
    justify-content: left;
    text-align: left;
    border-bottom-width: 2px !important;
    border-bottom-color: rgba(3,90,161,0.3) !important;
    border-bottom-style: solid !important;
    font-size: 20px !important;
    font-weight: 600 !important;
}
.valorDetalle {
    margin-top: 2px;
    padding-top: 5px;
    padding-left: 5px;
    color:  #035AA1;
    background-color: rgba(3,90,161,0.2);
    flex: 5;
    text-align: left;
	height: 60px;
	overflow: auto;
}

.valorReporte {
    margin-top: 2px;
    padding-top: 5px;
    padding-left: 5px;
    color: white;
    background-color:#035AA1;
    flex: 5;
    text-align: left;
    font-size: 20px !important;
    font-weight: 600 !important;
}

.valor {
    margin-top: 2px;
    padding-top: 5px;
    padding-left: 5px;
    color:  #035AA1;
    background-color: rgba(3,90,161,0.2);
    flex: 5;
    text-align: left;

    max-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
     
}
.valorFalla {
    margin-top: 2px;
    padding-top: 5px;
    padding-left: 5px;
    color: red !important;
    background-color: rgba(255,0,0,0.2); 
    flex: 5;
    text-align: left;
}

.tiempoLlamada {
    margin-top: 2px;
    padding-top: 5px;
    padding-left: 5px;
    color: red !important;
    background-color: rgba(255,0,0,0.2); 
    flex: 5;
    text-align: left;
    max-height: 22px !important;
    height: 22px !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.botonLate {
    font-size: 20px !important;
    background-color: rgba(0,255,0,0.3);;
    font-weight: 600;
    margin-right: 10px;
    height: 40px;
    }

.botonCancel {
    font-size: 20px !important;
    background-color: rgba(255,0,0,0.3); 
    font-weight: 600;
    height: 40px;
}
    
.tiempoArribo {
    margin-top: 10px;
    padding: 5px;
    padding-left: 5px;
    color:  #035AA1;
    background-color: rgba(3,90,161,0.3);
    flex: 5;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: #035AA1;

}


.operacionEstatus {
    font-weight: 600 !important;
    font-size: 16px !important;
}

.operacionUltimaFalla {
    font-size: 14px !important;
    margin-top: -10px;
}


.operacionImagen {
    height: 90px;
    width: 90px;
}

.botonMaquina {
    width: 200px;
    padding: 10px;
    border-style: solid;
    border-width: 4px;
    border-color: #035AA1;
    height: 50px !important;
    background-color: whitesmoke !important;
    border-radius: 4px 16px;
}

.botonDerecho {
    margin-right: 10px;
    border-style: solid;
    border-width: 4px;
    border-color: #035AA1;
}

.miIcon {
    height: 50px !important;
    width: 50px !important;
    align-content: center;
    margin-top: -17px !important;
    margin-left: -1px !important;
}

.iconoRedonde {
    height: 32px !important;
    width: 32px !important;
}

.iconoTelefono {
    height: 32px !important;
    width: 32px !important;
    margin-top: -7px;
    margin-left: -5px;
}

.cajaIconE {
    flex: 1;
    margin-top: 60px !important;
    width: 100% !important;
    padding: 5px;
    position: absolute; 
    
}

.miIconE {
    height: 40px !important;
    width: 40px !important;
    float: right;
    color:  white !important;
    fill: white !important;
    animation-name: alarmado;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.nombreCelula {
    border-style: solid;
    border-width: 4px;
    border-color: #035AA1;
    font-size: 17px;
    font-weight: 600;
    background-color: whitesmoke !important;
    padding: 5px;
    
}
  .noHayRegistros {
    text-align: center;
    align-content: center;
    position: absolute;
    width: 500px;
    left: 50%;
    margin-left: -300px;
    border-style: solid;
    border-width: 2px;
    border-color: #035AA1;
    border-radius: 4px 16px;
    padding: 10px;
    background-color:whitesmoke;
    z-index: 1;
    font-size: 24px;
    font-weight: 600;
  }

  .mat-icon svg
{
   fill : #fff;
}

.miIconE svg
{
    fill : black !important;
 }
 
 
  @keyframes alarmado {
    0%  {opacity: 0.75;}
    50%  {opacity: 0.25;}
    75%  {opacity: 0.75;}
    100%  {opacity: 1;}

}

::ng-deep snack-bar-container.custom-class {
    background-color: white !important; 
    margin-top: -100px !important;
  }
  
  ::ng-deep .custom-class .mat-simple-snackbar {
    font-size: 24px;
    text-align: center;
    justify-content: center;
    background-color: white !important; 
    color: #035AA1;
    white-space: normal;
    line-height: 30px !important;
  }

  ::ng-deep .custom-class .mat-simple-snackbar.container {
    max-width: 1200px;
    width: 1200px;
    background-color: rgba(3,90,161,0.1) !important; 
    margin-top: -100px !important;

  }


  ::ng-deep snack-bar-container.custom-class-red {
    background-color: red  !important; 
    margin-top: -100px !important;
  }
  
  ::ng-deep .custom-class-red .mat-simple-snackbar {
    font-size: 24px;
    text-align: center;
    justify-content: center;
    background-color: red !important; 
    color: white;
    white-space: normal;
    line-height: 30px !important;
  }

::ng-deep .custom-class-red .mat-simple-snackbar.container {
    max-width: 1200px;
    width: 1200px;
    background-color: rgba(3,90,161,0.1) !important; 
    margin-top: -100px !important;

  }
